<p>Основы Angular</p>
<ul>
    <li class="list-group">
        <a class="list-group-item" routerLink="calc"><i class="bi bi-calculator"> Взаимодейстиве элементов</i></a>
        <a class="list-group-item" routerLink="traffic"><i class="bi bi-stoplights"> Управление классов</i></a>
        <a class="list-group-item" routerLink="rates"><i class="bi bi-cash-coin"> Обмін даними. HttpClient</i></a>
        <a class="list-group-item" routerLink="moon"><i class="bi bi-moon"> Обмін віджетами. Sanitization</i></a>
        <a class="list-group-item" routerLink="forms"><i class="bi bi-card-checklist"> Реактивні форми</i></a>
    </li>
</ul>