.div1{
  cursor: pointer;
  background-color: cadetblue;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  margin-left: 10px;
}
.div1 img, .div1 b{
  min-height: 20px;
  min-width: 20px;
  display: inline-block;
  vertical-align: middle;
}
.div1 img{
  height: 20px;
  width: auto;
}